<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>js模板引擎</title>
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap-3.3.7/dist/css/bootstrap.min.css">
</head>
<body>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>编号</th>
				<th>姓名</th>
				<th>性别</th>
				<th>时间</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody id="list-cont"></tbody>
	</table>
	<script type="text/javascript" src="../vendor/jquery-2.1.0.js"></script>
	<script  type="text/javascript" charset="utf-8" src="../vendor/art-template.min.js" ></script>
	<script type="text/template" id="list">
		{{each suggests as value index}}
			<tr>
				<td>{{value.id}}</td>
				{{if value.state=="1"}}
					<td>{{value.name}}</td>
				{{/if}};
				{{if value.state=="2"}}
					<td>{{value.remark}}</td>
				{{/if}};
				<td>{{value.sex}}</td>
				<td>{{value.time}}</td>
				<td>{{value.remark}}</td>
			</tr>
		{{/each}}
	</script>
	<script type="text/javascript">
		window.onload=function(){
			$.get("../list.json",function(res){
				if(res.result===0){
					if(res.data!=null){
						for(let i=0;i<res.data.suggests.length;i++){
							var $html=template("list",res.data);
							$("#list-cont").html($html);
						}
					}
				}
			})
		}
	</script>
	
</body>
</html>